//
// Buttons
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  border: none;
  font-size: $btn-font-size-base;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height-base;
  border-radius: $border-radius-base;
  padding: 10px 15px;
  -webkit-font-smoothing: subpixel-antialiased;
  transition: border 0.25s linear, color 0.25s linear,
    background-color 0.25s linear;

  &:hover,
  &:focus {
    outline: none;
    color: $btn-default-color;
  }

  &:active,
  &_active {
    outline: none;
    box-shadow: none;
  }

  &:focus:active {
    outline: none;
  }

  &_disabled,
  &[disabled],
  fieldset[disabled] & {
    background-color: $btn-link-disabled-color;
    color: rgba(#ffffff, 0.75);
    opacity: 0.7;
    cursor: $cursor-disabled;
  }

  // Alternate buttons
  // --------------------------------------------------

  &_default {
    @include button-variant(
      $btn-default-color,
      $btn-default-bg,
      $btn-hover-bg,
      $btn-active-bg,
      $gray-light
    );
  }
  &_primary {
    @include button-variant(
      $btn-default-color,
      $brand-secondary,
      $btn-primary-hover-bg,
      $btn-primary-active-bg,
      $gray-light
    );
  }
  &_info {
    @include button-variant(
      $btn-default-color,
      $brand-info,
      $btn-info-hover-bg,
      $btn-info-active-bg,
      $gray-light
    );
  }
  &_danger {
    @include button-variant(
      $btn-default-color,
      $brand-danger,
      $btn-danger-hover-bg,
      $btn-danger-active-bg,
      $gray-light
    );
  }
  &_success {
    @include button-variant(
      $btn-default-color,
      $brand-success,
      $btn-success-hover-bg,
      $btn-success-active-bg,
      $gray-light
    );
  }
  &_warning {
    @include button-variant(
      $btn-default-color,
      $brand-warning,
      $btn-warning-hover-bg,
      $btn-warning-active-bg,
      $gray-light
    );
  }
  &_inverse {
    @include button-variant(
      $btn-default-color,
      $brand-primary,
      $btn-inverse-hover-bg,
      $btn-inverse-active-bg,
      $gray-light
    );
  }
  &_embossed {
    box-shadow: inset 0 -2px 0 rgba(black, 0.15);

    &.active,
    &:active {
      box-shadow: inset 0 2px 0 rgba(black, 0.15);
    }
  }
  &_wide {
    min-width: 140px;
    padding-left: 30px;
    padding-right: 30px;
  }

  // Link buttons
  // -------------------------

  // Make a button look and behave like a link
  &_link {
    color: $link-color;

    &:hover,
    &:focus {
      color: $link-hover-color;
      text-decoration: underline;
      background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $btn-link-disabled-color;
        text-decoration: none;
      }
    }
  }

  // Button sizes
  // --------------------------------------------------

  &_hg {
    @include button-size(
      13px,
      20px,
      $btn-font-size-hg,
      $btn-line-height-hg,
      $border-radius-large
    );
  }
  &_lg {
    @include button-size(
      10px,
      19px,
      $btn-font-size-lg,
      $btn-line-height-lg,
      $border-radius-large
    );
  }
  &_sm {
    @include button-size(
      9px,
      13px,
      $btn-font-size-sm,
      $btn-line-height-sm,
      $border-radius-base
    );
  }
  &_xs {
    @include button-size(
      6px,
      9px,
      $btn-font-size-xs,
      $btn-line-height-xs,
      $border-radius-small
    );
  }

  &_reduce-on-xs {
    @include sm-block() {
      @include button-size(
        9px,
        13px,
        $btn-font-size-sm,
        $btn-line-height-sm,
        $border-radius-base
      );
    }
  }

  // Button tip
  &__tip {
    font-weight: 300;
    padding-left: 10px;
    font-size: 92%;
  }

  // Block button
  // --------------------------------------------------

  &_block {
    white-space: normal;
  }
  // Set the backgrounds
  // -------------------------
  &_social-pinterest {
    @include social-button-variant($btn-default-color, $social-pinterest);
  }
  &_social-linkedin {
    @include social-button-variant($btn-default-color, $social-linkedin);
  }
  &_social-stumbleupon {
    @include social-button-variant($btn-default-color, $social-stumbleupon);
  }
  &_social-googleplus {
    @include social-button-variant($btn-default-color, $social-googleplus);
  }
  &_social-facebook {
    @include social-button-variant($btn-default-color, $social-facebook);
  }
  &_social-twitter {
    @include social-button-variant($btn-default-color, $social-twitter);
  }
  // Button icons
  [class^="fui-"] {
    margin: 0 1px;
    position: relative;
    line-height: 1;
    top: 1px;

    @at-root .btn_xs#{&} {
      font-size: 11px;
      top: 0;
    }
    @at-root .btn_hg#{&} {
      top: 2px;
    }
  }
}

// Social Buttons
// --------------------------------------------------

[class*="btn_social-"] {
  @include button-size(
    10px,
    15px,
    $btn-social-font-size-base,
    $btn-social-line-height-base,
    $border-radius-base
  );
}
