.section-title {
  font-size: 32px;
}

.panel-title {
  font-size: 24px;
}

.headline {
  display: block;
  text-align: center;
  padding-top: 60px;

  &__h1 {
    font-size: 45px;
    line-height: 3.5rem;
    @include sm(font-size, 56px);
    @include md-block() {
      font-size: 61px;
      line-height: 4rem;
    }
  }

  &__logo-img {
    margin: 0 auto;
  }

  &__logo-image {
    background: url(../images/demo/logo-mask.png) center no-repeat;
    background-size: contain;
    height: 120px;
    @include xs(height, 150px);
    @include sm(height, 180px);
  }

  &__header_small {
    color: rgba(52, 73, 94, 0.3);
    display: block;
    font-size: 22px;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: 0;
    padding-top: 5px;
    @include xs(line-height, 3rem);
  }
}

.btn,
.form {
  margin-bottom: 1rem;
  text-align: center;
}
